@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmación de Email";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>